.my-className {
  background: white;
  border: 5px solid blue;
  padding: 0;
  font-size: 100px;
  .ant-modal-footer,.ant-modal-header {
    border: none;
  }
  .my-body-props {
    background: red;
  }
}